extends layout

block content
  .home-wrap
    header
      .header-position
        .celina
          h3.info celina plag
          span.links <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
        .menu
          .burger
            span
    .home-section
      .content
        .min-header
          h3.info celina plag
          span.links <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
        .menu
        .list
          ul
            each article in article_list
              li(data-id=`${article.id}`) 
                p.date #{article.date}
                p.headline #{article.title}
                    
            else
              li There are no Articles.  
            
        each article in article_list  
          div(class=`${article.id}`).article 
            p.date #{article.dateexact}  #{article.date}
            h1.headline #{article.title}
            .article-content !{article.article}

        .about
          h1 celina plag
          img(src='https://i.ytimg.com/vi/YceVcbAFXsM/hqdefault.jpg')
          p.
            In kaum einem Gespräch über Modeunternehmen ist nicht irgendwann die Rede von einer sogenannten Brand DNA: Da geht es um ganz bestimmte Charakteristika – von der Ästhetik bis zur Zielgruppe einer Marke – für die das jeweilige Modehaus stehen möchte und deshalb seine gesamte Corporate Identity darauf ausrichtet. Dazu gehört das Logo genauso wie ein Promi, der das gewollte Image besonders gut präsentiert, oder die Gestaltung der jeweiligen Boutiquen, in denen die Mode über die Ladentheke wandert.


          
          
